header
  h2
    font-size: 32px
    padding-left: 20px
    margin-top: -53px
    color: white
  
  p
    padding-left: 20px
    margin-top: -20px
    font-size: 16px

    &:first-of-type
      margin-top: -20px
    
  .bannerImage
    width: 100%
    height: auto