.post-wrapper
  overflow: hidden
    
    *
      max-width: 100%

  aside
    color: #aaa

  hr
    border: 1px solid #ccc

  h1 
    font-size: 2em
    margin: 0

    a
      text-decoration: none 
      color: $black
      
      &:hover
        color: $blue

