.post-wrapper
  overflow: hidden

  *
    max-width: 100%

  aside
    color: #555

  hr
    border: 1px solid #ccc

  h1
    font-size: 2em
    margin: 0
    font-weight: 300
    line-height: 1.2

    a
      text-decoration: none
      color: $black

      &:hover
        color: $blue

  h2, h3, h4, h5, h6
    font-weight: 300

  a.anchor
    text-decoration: none
    color: $black

    &:hover
      color: $blue
      text-decoration: underline

  blockquote
    margin: 1em

  blockquote
    blockquote
      margin-left: 0
      font-size: 2em
      font-weight: 600
      color: $blue !important
      padding-left: 0
      padding-right: 0
      text-align: center

      p
        margin: 0
        line-height: 1.2
  pre
    background: #444
    line-height: 1
    padding: 5px
    overflow-x: scroll

    code
      font-size: 0.75em
      color: white

  code
    background: #444
    padding: 0 2px
    color: white