.post-wrapper

  aside
    color: #aaa

  hr
    border: 1px solid #ccc

  h1 
    font-size: 2em
    margin-bottom: 0

    a
      text-decoration: none 
      color: $black
      
      &:hover
        color: $blue

